body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    width: 320px;
    background-color: #00008b;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.display {
    background-color: #808080;
    color: white;
    font-size: 2em;
    text-align: right;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 60px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button {
    width: 70px;
    height: 70px;
    font-size: 1.5em;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #dc143c;
    color: white;
}

.button.number {
    background-color: white;
    color: black;
}

.button.operator, .button.clear, .button.equals {
    background-color: #dc143c;
}
